/**
 * Trade Journal WP Frontend Styles
 * 
 * @package TradeJournalWP
 */

/* ==========================================================================
   Main Plugin Styles
   ========================================================================== */


/* ==========================================================================
   Statistics Styles
   ========================================================================== */

/* .performance-stats .list-group-item {
    border-left: none;
    border-right: none;
    border-top: 1px solid #e3e6f0;
    padding: 1rem 0;
} */

.performance-stats .list-group-item:first-child {
    border-top: none;
}

.performance-stats .list-group-item:last-child {
    border-bottom: none;
}

.performance-stats .avatar {
    width: 2rem;
    height: 2rem;
}

.performance-stats .avatar-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group-sm.ydcoza-btn-group-tiny>.btn {
    padding: 0.2rem 0.7rem!important;
    font-size: 0.6rem !important;
}